// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "colors";
@import "buttons";

html,
body {
    background-color: $color-light;
    color: $color-dark;

    overflow-x: hidden;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.input-name {
    border: 0;
    padding: 5px 10px 7px;
    border: 2px solid $color-secondary;
    transition: 0.4s;
}

.input-name:focus {
    padding: 5px 14px 7px;
    border: 3px solid $color-primary;
    transition: 0.4s;
}
