// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography";
@import "colors";
@import "buttons";

html,
body {
    background-color: $color-light;
    color: $color-dark;

    overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
