@import url("https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&display=swap&subset=chinese-simplified");

html,
body {
    font-family: "Overpass", "Noto Sans SC", sans-serif;

    font-size: 1.1em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
